<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note to Self - A note taking app</title>
  <link rel="stylesheet" href="assets/css/foundation.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="title-bar">
    <div class="title-bar-left">
      <span class="title-bar-title">Note to Self</span>
    </div>
    <div class="title-bar-right">
    </div>
  </div>



  <div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-4">
          <div class="grid-y">

          <div id="notelist">
              <div class="cell button">Item 1</div>
          </div>
        </div>
      </div>


      <div class="cell auto">
        <div class="radius bordered shadow card">
          <div class="card-divider align-right">
            <button type="button" class="button rounded bordered shadow alert">Remove</button>
          </div>
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/foundation.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="assets/js/restquery.js"></script>
</body>

</html>
