<html>

<body>
<form class="log-in-form" action="/login" method="POST">
  <h4 class="text-center">Log in</h4>
  <label>Username
    <input name="username" type="username" placeholder="Username">
  </label>
  <label>Password
    <input name="password" type="password" placeholder="Password">
  </label>
  <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
  <p><input type="submit" class="button expanded" value="Log in"></input></p>
  <p class="text-center"><a href="#">Forgot your password?</a></p>
</form>
</body>

</html>